body {
    font-family: sans-serif;
    color: #5e69ff;
    text-align: center;
}

.mode {
    display: inline-block;
    border: 3px solid #ff6b6b;
    border-radius: 10px;
    padding: 0 30px 30px 30px;
}

.mode h2 {
    color: #ff6b6b;
    font-size: medium;
    text-align: left;
}

.boardspace {
    display: inline-block;
}

.boardspace div {
    display: inline-block;
    width: 50px;
    height: 40px;
    text-align: center;
    padding-top: 18px;
    margin: 1px;
    
    
    /*border: 1px solid black;*/
}

.boardspace span {
    display: inline-block;
   /* vertical-align: middle;*/
}

.button {
    margin: 20px 5px;
    display: inline-block;
    background-color: #e0e0e0;
    width: 150px;
    padding: 10px;
    /*border: 1px solid #5e69ff;*/
    border-radius: 5px;
}

.light {
    background-color: #f0f0f0;
}

.dark {
    background-color: #e0e0e0;
}




/* replace with :active*/
.selected {
    background-color: #ffff3d;
}
